body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#data-list {
    list-style-type: none;
    padding: 0;
}

#data-list li {
    margin: 5px 0;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}
